<?php
/* autor:       orlando puentes
 * fecha:       06/10/2010
 * objetivo:    
 */
?>

<body background="../../imagenes/FondoGeneral.png">
<style type="text/css">
<!--
.Estilo5 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
-->
</style>
<title>Ayuda Actualizar Nit</title>
<p class="Estilo5">Fecha &uacute;ltima modificaci&oacute;n: <strong>Octubre 6 
  de 2010</strong></p>
<p class="Estilo5"><strong>Formulario</strong>:&nbsp;actualizarNit.php<br />
    <strong>Men&uacute;</strong>:&nbsp;Actualizar Nit .<br />
    <strong>Objetivo:</strong>&nbsp;Modificar el Nit de la empresa. </p>
<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
  <p align="left"><strong>Elementos del formulario:</strong> </p>
  <li><strong>Actualizar</strong>&nbsp;<img src="../../imagenes/menu/modificar.png" width="16" height="16">: Almacena las modificaciones al registro de manera permanente en la base de datos.</li>
  <li><strong>Limpiar Campos</strong>&nbsp;<img src="../../imagenes/menu/refrescar.png" alt="" width="16" height="16" />: Limpia los campos del formulario.</li>
  <li><strong>Buscar</strong>&nbsp;<img src="../../imagenes/menu/buscar.png" alt="" width="16" height="16" />: Busca y edita el registro de acuerdo al Id digitado.</li>
  <li><strong>Manual</strong>&nbsp;<img src="../../imagenes/menu/informacion.png" alt="" width="20" height="20" />: 
    Muestra toda la informaci&oacute;n relacionada al funcionamiento del aplicativo.</li>
  <li><strong>Notas sobre el Formulario</strong>&nbsp;<img src="../../imagenes/menu/notas.png" alt="" width="16" height="16" />: La persona que ingrese grabe los comentarios acerca de este formulario.</li>
  <li><strong>Campo Obligatorio</strong>&nbsp;<img src="../../imagenes/menu/obligado.png" alt="" width="12" height="12" />: Los campos son obligatorios para llenarlos.</li>
</ul>
<ul style="margin-left:0">
  <p class="Estilo5"><strong>Campos: </strong></p>
  <li class="Estilo5"><strong>Nit Empresa: </strong>Nit de la Empresa</li>
  <li class="Estilo5"><strong>Nueva Empresa: </strong>Nuevo Nit de la empresa.</li>
  <p class="Estilo5"><strong>Procedimiento: </strong></p>
  <li><strong>Primero:</strong> Debe ingresar 
    el N&uacute;mero del Nit de la empresa que va a modificar. </li>
  <li> <strong>Segundo:</strong> Ingrese el Nuevo N&uacute;mero de la empresa 
      a modificar.</li>
    <p>Cuando se ha ingresado el Nit de la empresa y se requiere modificar en 
      el otro campo primero verifique pulsando el bot&oacute;n <strong>Buscar<img src="../../imagenes/menu/buscar.png" alt="" width="16" height="16" /></strong> 
      y el le mostrar&aacute; que datos est&aacute;n registrados bajo ese Nit. 
    </p>
    <p align="center"><img src="../../imagenes/help/radicacion/Actualizar%20nit.JPG" width="615" height="476"></p>
  </div>
  <p class="Estilo5">Despu&eacute;s de realizados los anteriores procedimientos 
    dirijase al bot&oacute;n <strong>Actualizar<img src="../../imagenes/menu/modificar.png" width="16" height="16"></strong> 
    y los datos quedan modificados. </p>
</ul>
</body>