<?php
/* autor:       Lucy Tatiana Polanco Aya
 * fecha:       Octubre 11 de 2011
 * objetivo:    
 */
?>

<style type="text/css">
<!--
.Estilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Estilo3 {font-family: Geneva, Arial, Helvetica, sans-serif}
-->
</style>

<body background="../../imagenes/FondoGeneral.png">
<title></title>
<span class="Estilo1"> Fecha &uacute;ltima modificaci&oacute;n:<strong>Diciembre 28 de 2011</strong><br />
	<br />
	<strong>Formulario</strong>:&nbsp;renovacion.php<br />
<strong>Men&uacute;</strong>:&nbsp; Empresa<br />
<strong>Objetivo:</strong>&nbsp;Almacenar en la base de datos las renovaciones que se le realiza a las empresas. <br />
	</span>

<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
  <p align="left"><strong>Elementos del formulario:</strong> </p>
  <li><strong>Nuevo&nbsp;</strong><img src="../../imagenes/menu/nuevo.png" alt="" width="16" height="16" />: 
  Prepara el formulario para registrar la informaci&oacute;n de la nueva empresa.</li>
  <li><strong>Guardar<img src="../../imagenes/menu/grabar.png" alt="" width="16" height="16" />:</strong>Almacena 
  la informaci&oacute;n de manera permanente en la base de datos.</li>
  <li><strong>Imprimir</strong>&nbsp;<img src="../../imagenes/menu/imprimir.png" alt="" width="16" height="16" />: 
    Genera el formulario con todos los registros.</li>
  <li><strong>Limpiar Campos</strong>&nbsp;<img src="../../imagenes/menu/refrescar.png" alt="" width="16" height="16" />: 
    Limpia los campos del formulario.</li>
  <li><strong>Manual</strong>&nbsp;<img src="../../imagenes/menu/informacion.png" alt="" width="20" height="20" />: 
  Muestra toda la informaci&oacute;n relacionada al funcionamiento del aplicativo.</li>
  <li><strong>Campo Obligatorio</strong>&nbsp;<img src="../../imagenes/menu/obligado.png" alt="" width="12" height="12" />: 
    Los campos son obligatorios para llenarlos.</li>
</ul>

<p align="justify" class="Estilo3 Estilo1">&nbsp;</p>
<ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
<p align="justify"><strong>Campos:</strong></p>
<li>1. <strong>Radicaci&oacute;n No.:</strong> N&uacute;mero de la Radicaci&oacute;n.</li>  
<li>2. <strong>Fecha: </strong>Fecha del d&iacute;a que se elabora la radicaci&oacute;n.</li>
  <li>3. <strong>Sector:</strong> Contiene un listado de los sectores empresariales 
    (Oficial, Privado, Mixto, Voluntario, Facultativo, Pensionados y Fidelidad). 
    Obligado.</li> 
  <li>4. <strong>Clases de Sociedad: </strong>Contiene el listado de las clases 
    de sociedad (Economia Solidaria, Ley 590/2000, Persona Juridica y Persona 
    Natural). Obligado.</li> 
  <li>5. <strong>Nit:</strong> Presenta el n&uacute;mero de identificaci&oacute;n 
  de la empresa. Obligado.</li>
  <li>6.<strong> Tipo de Documento: </strong>Contiene el listado de los tipos 
  de identificaci&oacute;n. Obligado.</li>
<li>7.<strong> Raz&oacute;n Social: </strong>Muestra  el nombre completo de la empresa. Obligado.</li>
  <li>8. <strong>Nombre Comercial:</strong> Presenta el nombre completo de la 
    empresa. Obligado.</li>
  <li>9. <strong>Departamento:</strong>Muestra  el  Departamentos donde esta ubicada la empresa.</li>
  <li>10. <strong>Ciudad:</strong> Contiene el listado de las ciudades de cada 
    Departamento.</li>
  <li>11. <strong>Direcci&oacute;n: </strong>Muestra la siguiente ventana:</li>
</ul>
</p>
<p align="center" class="Estilo1"><img src="../../imagenes/help/EMPRESAS/direccion.JPG" width="655" height="455"></p>
<span class="Estilo1">
<!-- fin ayuda en linea -->
</span>
<ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
<li>1. <strong>Seleccione:</strong> Cuadro de opciones que muestra si la direcci&oacute;n es (Calle, Carrera, Avenida, Transversal y Diagonal).</li>
<li>2. Cuadro donde se digita el n&uacute;mero de la direcci&oacute;n. </li>
<li>3. Cuadro de opciones que muestra las letras que identifican la direcci&oacute;n. Estas van desde la letra (A hasta K). </li>
<li>4. Cuadro que ingresa <strong>BIS </strong>si la direcci&oacute;n la contiene. </li>
<li>5. Cuadro de opciones que muestra las opciones (west y sur). Estas s&oacute;lo se colocan si la direcci&oacute;n la solicita. </li>
<li>6. <strong>N&uacute;mero:</strong> Ingresa el primer n&uacute;mero de la placa de la casa.</li>
<li>7. Cuadro de opciones que muestra las letras que  van desde la letra (A hasta K) y estas se utilizan si la direcci&oacute;n la requiere. </li>
<li>8. Cuadro con opci&oacute;n <strong>BIS: </strong>S&oacute;lo si la direcci&oacute;n la necesita. </li>
<li>9. Cuadro donde se ingresa el segundo n&uacute;mero de la placa de la casa. </li>
<li>10. Cuadro de opciones que muestra las opciones (west y sur). Estas s&oacute;lo se colocan si la direcci&oacute;n la solicita. </li>
<li>11. Los cuadros siguientes s&oacute;lo se ocupan si la direcci&oacute;n que estamos ingresando la solicita. </li>
<li>12. Barra que muestra la direcci&oacute;n que hemos digitado. De forma 
  inactiva.</span></li>
</ul>
<ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
  <p align="center"><img src="../../imagenes/help/EMPRESAS/barradireccion.JPG" width="441" height="22"></p>
  <li>13. <strong>Bot&oacute;n Cancelar:</strong> Se sale de la ventana sin 
    guardar los cambios. </li>
  <li>14. <strong>Bot&oacute;n Crear Direcci&oacute;n:</strong> Guarda toda 
  la informaci&oacute;n que se ha digitado en la ventana de direcciones. </li>
  </ul>
<p>&nbsp;</p>
  <ul>
  <li>12. <strong>Tel&eacute;fono:</strong> Muestra el n&uacute;mero telef&oacute;nico de la empresa.</li>
<li>13. <strong>Fax:</strong> Muestra el n&uacute;mero de fax, si la empresa fue grabada con este en caso contrario ingreselo si lo tiene. </li>
<li>14. <strong>URL:</strong> Muestra el nombre de la p&aacute;gina web de la empresa. </li>
<li>15. <strong>EMAIL:</strong> Muesta el correo electr&oacute;nico de la empresa si esta tiene en caso contrario sino fue grabado y lo trae registrelo. </li>
<li>
  <div align="justify">16. <strong>C.C Representante Legal:</strong> Ingrese el n&uacute;mero de identificaci&oacute;n del Representante Legal. Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes datos:</div>
  <div align="center"><img src="../../imagenes/help/EMPRESAS/datosbasicos.JPG" width="654" height="230"></div>
</li>
<li>17. <strong>Primer Nombre</strong>: Ingrese el primer nombre del Representante Legal, en caso de no ser mostrado cuando se ingresa el número de identificación. </li>
<li>18. <strong>Segundo Nombre:</strong> Ingrese el segundo nombre del representante legal. en caso de no ser mostrado cuando se ingresa el número de identificación. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li>19. <strong>Primer Apellido:</strong> Ingrese el primer apellido del Representante Legal en caso de no ser mostrado cuando se ingresa el número de identificación. </li>
<li>20. <strong>Segundo Apellido:</strong> Ingrese el segundo apellido del representante legal en caso de no ser mostrado cuando se ingresa el número de identificación. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li>21. <strong>C.C Contacto Administrativo</strong>: Ingrese el n&uacute;mero de identificaci&oacute;n del Contacto Administrativo en caso de no ser mostrado cuando se ingresa el número de identificación.  Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes datos: </li>
<li>
  <div align="center"><img src="../../imagenes/help/EMPRESAS/datosbasicos.JPG" width="654" height="230"></div>
</li>
<li>22.<strong> Primer Nombre:</strong> Ingrese el Primer nombre del jefe de personal, en caso de no ser mostrado cuando se ingresa el número de identificación. . </li>
<li>23: <strong>Segundo Nombre:</strong> Ingrese el segundo nombre del jefe de personal. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li>24. <strong>Primer Apellido:</strong> Ingrese el primer apellido del jefe de personal. </li>
<li>25: <strong>Segundo Apellido:</strong> Ingrese el segundo apellido del jefe de personal, en caso de no ser mostrado cuando se ingresa el número de identificación. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li><strong>26</strong>. <strong>Contratista:</strong> Muestra Si o No. Obligado </li>
<li><strong>27.</strong> <strong>Actividad Econ&#243;mica:</strong> Es la actividad a la que se dedica la empresa. Obligado.</li>
<li><strong>28. C&#243;digo CIIU:</strong> Tiene por objeto satisfacer las necesidades de los que buscan datos clasificados referentes a categor&#237;a comparables internacionalmente de tipos espec&#237;ficos de actividades econ&#243;micas. Obligado.</li>
<li><strong>29. Seccional:</strong>Contiene el listado de las seccionales de 
  Comfamiliar Huila. Obligatorio. </li>
<li><strong>30.</strong> <strong>&Iacute;ndice de Aporte:</strong> Contiene el listado de los 
  porcentajes de aportes de la empresa. Obligado </li>
<li><strong>31. Fecha de Afiliaci&oacute;n:</strong> Presenta la fecha que se 
  realiz&oacute; la afiliaci&oacute;n.</li>
<li><strong>32. Fecha de Constituci&#243;n:</strong> Si la empresa tiene actividad econ&#243;mica comercial, se  debe registrar la fecha de constituci&#243;n de la empresa as&#237;: Para personas  Jur&#237;dicas la fecha que aparece registrada ante la C&#225;mara de Comercio como raz&#243;n  social. En el caso de las personas naturales corresponde a la fecha en que fue  matriculado el establecimiento ante C&#225;mara de Comercio. Obligado.</li>
<li><strong>33.</strong> <strong>Asesor:</strong> Contiene el listado de los asesores. Obligado.</li>
<li><strong>34. Estado:</strong>Activa o Inactiva. Obligatorio </li>
<li><strong>35. Fecha Inactivación:</strong> Fecha en la que se inactivó la empresa.</li>
<li><strong>36. Ruta  Documento: </strong>Muestra la ruta donde esta guardado los documentos digitalizados de la afiliación de la empresa.</li>
<li>35. <strong>Historial de Observaciones: </strong>Muestra el listado de observaciones que se le han realizado a la empresa. </li>
</ul>
<ul>
<span style="font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;"><strong>NOTA:</strong> Si el usuario no alcanz&oacute; a terminar el formulario por cualquier raz&oacute;n  el aplicativo vuelve y muestra el formulario que qued&oacute; incompleto. </span>
<p class="negrita Estilo1"><strong>Procedimiento: </strong></p>
<li class="Estilo1"><strong>Primero:</strong> Inicie el proceso presionando clic en el botón Nuevo<img src="../../imagenes/menu/nuevo.png" width="16" height="16">. </li>
<li class="Estilo1"><strong>Segundo:</strong> Comience seleccionando la radicación. </li>
<li class="Estilo1"><strong>Tercero:</strong> Se le mostrará parte de los datos que van en el formulario. Registre los datos que hacen falta en el formulario. </li>
<li class="Estilo1"><strong>Cuarto:</strong> Seleccione el Departamento de donde es la empresa y luego seleccione la Ciudad donde esta la empresa. </li>
<li class="Estilo1"><strong>Quinto:</strong> Clic en el botón Guardar<img src="../../imagenes/menu/grabar.png" width="16" height="16">. Los datos registrados nuevo o modificados se han grabado en la base de datos. </li>
</ul>
</body>