.area {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:600px;
	height:50px;
	background:#F7F7F7
}

.area2 {
	BORDER-RIGHT: #3c6171 1px solid; 
	BORDER-TOP: #3c6171 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #3c6171 1px solid; 
	BORDER-BOTTOM: #3c6171 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #ffffff; text-shadow:inherit;
	width:200px;
}
a:link {text-decoration: none; color: #333333; border:none}
a:hover {font-weight: normal; text-decoration: underline; color: #333333; border:none; border-bottom:none }
.celda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;}
body {
	margin-left: 0px;
	margin-top: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-attachment:fixed;
	background-repeat:repeat-x;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ul {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: disc;
	list-style-position: outside;
}

li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ol {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: upper-roman;
	list-style-position: outside;
}
.text{
background:#FFFFCC;
font-size:12px;
font-weight:bold;
size:20px;
}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.boxfecha {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width: 140px;
	background:#F7F7F7
}
.box1 {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:180px;
	background:#F7F7F7;
	text-align:left;
}
.boxcorto {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:20px;
	background:#F7F7F7
}
.boxlargo {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:400px;
	background:#F7F7F7
}
.boxmediano {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:300px;
	background:#F7F7F7
}
.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}
.boton1 {
	padding: 1px;
	font-size:9px;
	border-width: thin;
	border-style:hidden;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
	cursor:pointer
}
.negrita{
	font-weight:bold;
}
.Rojo {font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
	}
.RojoGrande {font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	}
.texto1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;}
.texto2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;}

.contra {
font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; 
COLOR: #b79f9f;
font-weight:bold;
font-size: 14px
}
.contra2 {
font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
COLOR: #000000;
font-size: 11px
}
.titulos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; background-image: URL(../../imagenes/fondo-tit.gif); background-repeat: repeat-x; height: 20px}
.tit-tramite { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333 ; font-weight: bold ; background-color: #E7F3E7}
.celdablanca { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; list-style-image: URL("../../imagenes/vineta1.gif") ; border-color: black #CCCCCC #CCCCCC black; background-color: #FFFFFF; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.box {font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
background-color: #F1F1E2;

}
.textopeq {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333}
.boton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color:#003399;
	border-top: 2px solid #B8DCB8;
	border-right: 2px solid #639A63;
	border-bottom: 2px solid #639A63;
	border-left: 2px solid #BDDFBD;
}
.Estilo1 {font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
text-align:justify;
text-decoration:inherit;
}
.Estilo2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #333333 ; font-weight: bold ; background-color: #E7F3E7}
.cajas{
background:#EBEBEB;
font-size:10px;
font-weight:bold;
border-bottom-color:#EBEBEB;
border:hidden;
text-align:left;
text-decoration:inherit;
height:10px;
}
.tablero {
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8px;
	background:#E3F7BE url(../imagenes/cmxform-fieldset.gif) left top repeat-x;
	text-align: center;
	border-collapse:collapse
	
}
.tablero td {
	/*BACKGROUND-COLOR: #f2f2f2; */
	border: 1px solid #9faec4;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	height:20px;
	text-align:left;

}
.tablero TH {
	BACKGROUND-COLOR: #dfe3ea; COLOR: #566c7c; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}
.tableropar {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 9px
}
.box_0_num {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:140px;
	background:#F9F9F9;
	text-align:right;
	cursor:text
}
.box_0 {
	padding: 0px;
	font-size:13px;
	border-width: 0px;
	border-style:hidden;
	width:140px;
	background:#F9F9F9
}
.box1 {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:140px;
	background:#F7F7F7;
	text-align: left;
}


.tablero2 {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8px
}
.tablero2 TD {
	BACKGROUND-COLOR: #f2f2f2; 
	BORDER-BOTTOM: #9faec4 1px solid; 
	BORDER-LEFT: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 14px;
	font-weight:bold
}
.muy_grande
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 34px;
	color:#0000FF;
	font-style:italic;
}
#bubble_tooltip{
	width:147px;
	position:absolute;
	display:none;
}
#bubble_tooltip .bubble_top{
	background-image: URL('../imagenes/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
}
#bubble_tooltip .bubble_middle{
	background-image: URL('../imagenes/bubble_middle.gif');
	background-repeat:repeat-y;	
	background-position:bottom left;
	padding-left:7px;
	padding-right:7px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:11px;
}
#bubble_tooltip .bubble_bottom{
	background-image: URL('../imagenes/bubble_bottom.gif');
	background-repeat:no-repeat;
	background-repeat:no-repeat;	
	height:44px;
	position:relative;
	top:-6px;
}

/*tabla estilos andres*/
.tablaR
{
    border: 1px solid #E9E9E9;
    border-collapse: collapse;
}
.hover tr:hover
{
    background: #DFF4FF
}
.tablaR th
{
    text-align: center;
    font: 11px Arial, Helvetica, sans-serif;
    background: url(../imagenes/bgTableR.png) repeat-x;
    color: #666;
}
.tablaR td
{
    text-align: center;
    font: 11px Arial, Helvetica, sans-serif;
    padding: 3px;
}
.tablaR td a
{
    text-decoration: underline;
    color: #09C;
}
.tablaR td a:hover
{
    text-decoration: none
}
.tablaR .zebra
{
    background: url(../imagenes/zebra.png) repeat-x
}
.tablaR td img
{
    cursor: pointer
}
/*CSS PARA EL PLUGIN DE LOS PERIODOS*/
#destino{
	/*border:1px solid #eaeaea;
	height:auto;*/
/*	width:400px;*/
	padding:0;
	
	}
	
#calendario{
	border:1px solid #ccc;
	font:10px Verdana, Geneva, sans-serif;
	width:150px;
	padding:5px;
	-moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; 
	 z-index:2;
	 background:#fff;
	}

#calendario label{ margin:20px;}

#calendario .meses{ margin:8px; padding:5px;overflow:hidden;  }

#calendario .cabecera{ margin:1px; padding:3px;background:#ccc;-moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/}

#calendario .meses span{ 
float:left; 
padding:4px; 
border:1px solid #eaeaea; 
display:block; 
width:20px; 
margin:5px;
cursor:pointer;
-moz-border-radius: 5px/*{cornerRadius}*/; 
-webkit-border-radius: 5px/*{cornerRadius}*/;
}

.cerrar{ color:#999; cursor:pointer; margin:5px}

.etiqueta{ color:#666;padding:4px; background:#fafafa; border:1px solid #ccc; font:10px verdana; margin:5px; vertical-align:middle; float:left}
.x{ color:#cc0000; cursor:pointer; margin:5px;font:9px arial;}
.x:hover{color:#f00;}

.resaltado{border: 1px solid #fcefa1; background: #fbf9ee}

#btnAnioCompl{ font-size:10px; margin:5px 5px 0 22px}

/**
 * Estylo para mensages emergente 
 */
a.dialogoEmergente { /* Estilos del texto que tiene el tooltip */
	position: relative;
	z-index: 24;
	cursor: pointer;
	text-decoration: none;
}
a.dialogoEmergente:hover {z-index: 25; text-decoration: none;}
a.dialogoEmergente span {display: none}
a.dialogoEmergente:hover span { /* Estilos de la descripción */
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    color: #000000;
    display: block;
    left: -1em;
    position: absolute;
    text-align: center;
    bottom:1em;
    padding: 0px 15px 0px 15px;
    -moz-border-radius: 10px;
	-moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #888888;
	padding-top: 5px;
    padding-bottom: 5px;
}

/*Clase para indicar que un campo es obligatorio*/
.clsObligatorio{
	background: url(../imagenes/menu/obligado.png)no-repeat;
	width: 20px;
	height: 20px;
}