
#jMenu {
	display:table;
	margin:0;
	padding:0;
	
}

/********************/
/** premier niveau **/
/********************/
#jMenu li {
	display:table-cell;
	/*background-color:#322f32;*/
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
	
}
	#jMenu li a {
		padding:10px;
		display:block;
		background-color: transparent;
		color:#fff;
		text-transform:uppercase;
		cursor:pointer;
		font-size:9px;
		margin-right:8px;
	}
	
/*******************/
/** second niveau **/
/*******************/
#jMenu li ul {
	display:none;
	position:absolute;
	padding:0;
	margin:0;
	
}
	#jMenu li ul li {
		background-color:#069;
		display:block;
		border-bottom:1px solid #EAEAEA;
		padding:0;
	}
	#jMenu li ul li.arrow {
		background:#069 url('../imagenes/tabla/arrow.gif') no-repeat center center;
		height:6px;
		padding:0;
		border-bottom:none;
		padding-bottom:10px
	}
		#jMenu li ul li a {
			font-size:11px;
			text-transform:none;
			padding:7px;
			display:block;
			border-top:1px solid transparent;
			border-bottom:1px solid transparent;
			text-decoration:none;
		}
		#jMenu li ul li a.isParent {
			background:#069 url('../imagenes/tabla/arrow.gif') no-repeat right center;
		}
			#jMenu li ul li a:hover {
				background-color:#0078A7;
				border-top:1px solid #322f32;
				border-bottom:1px solid #322f32;
			}