/************************************************************************************************
Ckm!
Web, Apps & Multimedia
www.ckm.co
2011
************************************************************************************************/

html,body{ margin: 10px 0 15px 0; padding:0;}

body{
	color: #000;
	font: 98% Arial, Helvetica, sans-serif;
	background: #FFF;
}

form{
	margin: 0 auto;
	width: 900px;
}

table{
	width: 100%;
	border-collapse:collapse;
	margin: 8px 0;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
}
table th{
	padding: 3px 2px;
	color: #FFF;
	text-align: left;
	background: #000;
	border-right: 1px solid #000;
	border-bottom: 2px solid #000;
}
table td{
	padding: 3px;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
}

table table, table table td{ border: none; }
table.espacio table{
	margin: 0 auto;
	width: 98%;
}

table td.centrado{ text-align: center; }

form input{ display: block; margin: 0 auto; }

form table input{
	margin: inherit;
	border: none;
}
form table input.inf{
	width: 96%;
	border-bottom: 1px solid #000;
}
form table.borde input{
	border: 1px solid #999;
	background: #F2F2F2;
}

form div.sep{
	float: left;
	display: block;
	margin: 10px 0;
}

form div.sep span{ float: left; }
form div.sep input{
	float: left;
	border: none;
	margin-left: 10px;
	width: 300px;
	border-bottom: 1px solid #000;
}

