<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="13" height="29" background="../../imagenes/tabla/arriba_izq.gif">&nbsp;</td>
  <td background="../../imagenes/tabla/arriba_central2.gif"><span class="letrablanca">::&nbsp;Actualizaci&oacute;n Datos Afiliado&nbsp;::</span></td>
  <td width="13" background="../../imagenes/tabla/arriba_der.gif" align="right">&nbsp;</td>
</tr>
  <tr>
	<td background="../../imagenes/tabla/izquierda2.jpg">&nbsp;</td>
	<td background="../../imagenes/tabla/centro.gif">
	<img src="../../imagenes/tabla/spacer.gif" width="1" height="1">
	<img src="../../imagenes/spacer.gif" width="1" height="1"/>
    <img src="../../imagenes/spacer.gif" width="1" height="1"/>
    <img src="../../imagenes/spacer.gif" width="1" height="1"/>
	<img src="../../imagenes/menu/modificar.png" title="Actualizar" width="16" height="16" onClick="validarCampos(2)" style="cursor:pointer">
	</td>
    <td background="../../imagenes/tabla/derecha.gif">&nbsp;</td>
  </tr>
  <tr>
    <td background="../../imagenes/tabla/izquierda2.jpg">&nbsp;</td>
    <td align="left" background="../../imagenes/tabla/centro.gif"><div id="error" style="color:#FF0000"></div></td>
    <td background="../../imagenes/tabla/derecha.gif">&nbsp;</td>
  </tr>
  <tr>
    <td background="../../imagenes/tabla/izquierda2.jpg">&nbsp;</td>
    <td align="center" background="../../imagenes/tabla/centro.gif">
	<table width="100%" border="0" cellspacing="0" class="tablero">
      <tr>
        <td width="17%">Radicaci&oacute;n Nro</td>
        <td width="29%"><input name=txtId class=boxfecha id="txtId" /></td>
        <td width="17%">Fecha</td>
        <td width="37%"><input name=txtId2 class="box1" id="txtId2" readonly="readonly" /></td>
        </tr>
      <tr>
      <td>Tipo Documento</td>
        <td><label>
          <select name="select" id="select" class="box1">
            <option value="0" selected="selected">Seleccione...</option>
            <?php
/*		$consulta = $objClase->mostrar_datos(1,1);
		while($row=mssql_fetch_array($consulta)){
		echo "<option value=".$row['iddetalledef'].">".$row['detalledefinicion']."</option>";
			}*/
        ?>
          </select>
          <img src="../../imagenes/menu/obligado.png" width="12" height="12" /></label></td>
        <td>N&uacute;mero</td>
        <td><input name="textfield22" type="text" class="box1" id="textfield22" onBlur="buscarPersona(this);" onKeyPress="tabular(this,event);" />          <img src="../../imagenes/menu/obligado.png" width="12" height="12"  /></td>
        </tr>
      <tr>
      <td>Primer Nombre</td>
        <td><input name="textfield" type="text" class="box1" id="textfield" />
          <img src="../../imagenes/menu/obligado.png" width="12" height="12" /></td>
        <td>Segundo Nombre</td>
        <td><input name="textfield3" type="text" class="box1" id="textfield3" /></td>
        </tr>
	  <tr>
	    <td>Primer Apellido</td>
	    <td><input name="textfield2" type="text" class="box1" id="textfield2" onKeyPress="tabular (this, event);" />
	      <img src="../../imagenes/menu/obligado.png" width="12" height="12" /></td>
	    <td>Segundo Apellido</td>
	    <td><input name="textfield4" type="text" class="box1" id="textfield4" /></td>
	    </tr>
	  <tr>
	    <td>Sexo</td>
	    <td><select name="txtSexo" class="box1" id="txtSexo">
	      <option value="M">Masculino</option>
	      <option value="F">Femenino</option>
	      </select>	      <img src="../../imagenes/menu/obligado.png" width="12" height="12" /></td>
	    <td>Direcci&oacute;n</td>
	    <td><input name="textfield5" type="text" class="box1" id="textfield5" /></td>
	    </tr>
	  <tr>
	    <td>Barrio</td>
	    <td><select name="select3" id="select3" class="box1">
	      <option value="1" selected="selected">Personal</option>
	      <option value="2">Telefonico</option>
	      <option value="3">Electronico</option>
	      </select></td>
	    <td>Tel&eacute;fono</td>
	    <td><input name="textfield11" type="text" class="box1" id="textfield11" readonly="readonly" value="" /></td>
	    </tr>
        <tr>
	    <td>Celular</td>
	    <td><input name="textfield7" type="text" class="box1" id="textfield7" readonly="readonly" /></td>
	    <td>E-mail</td>
	    <td><input name="textfield8" type="text" class="box1" id="textfield8" readonly="readonly" /></td>
	    </tr>
	  <tr>
	    <td >Casa Propia</td>
	    <td ><select name="txtCasa" id="txtCasa">
	      </select></td>
	    <td >Tipo Vivienda</td>
	    <td ><select name="txtTipoV" id="txtTipoV">
	      </select></td>
	    </tr>
	  <tr>
	    <td >Depto Reside</td>
	    <td ><select name="txtDptpR" id="txtDptpR">
	      </select></td>
	    <td >Ciudad Reside</td>
	    <td ><select name="txtCiudadR" id="txtCiudadR">
	      </select></td>
	    </tr>
	  <tr>
	    <td >Zona Reside</td>
	    <td ><select name="txtZona" id="txtZona">
	      </select></td>
	    <td >Estado Civil</td>
	    <td ><select name="txtEstado" id="txtEstado">
	      </select></td>
	    </tr>
	  <tr>
	    <td >Fecha Nace</td>
	    <td ><input name="textfield6" type="text" class="box1" id="textfield6" /></td>
	    <td >Depto Nace</td>
	    <td ><select name="txtDptoN" id="txtDptoN">
	      </select></td>
	    </tr>
	  <tr>
	    <td >Ciudad Nace</td>
	    <td ><select name="txtCiudadN" id="txtCiudadN">
	      </select></td>
	    <td >Capacidad Trabajo</td>
	    <td ><select name="txtCapacidad" id="txtCapacidad">
	      </select></td>
	    </tr>
	  <tr>
	    <td >Nombre Corto</td>
	    <td ><input name="textfield9" type="text" class="box1" id="textfield9" /></td>
	    <td >&nbsp;</td>
	    <td >&nbsp;</td>
	    </tr>
    </table>
    </td>
    <td background="../../imagenes/tabla/derecha.gif">&nbsp;</td>
  </tr>
    <tr>
    <td height="38" background="../../imagenes/tabla/abajo_izq2.gif">&nbsp;</td>
    <td background="../../imagenes/tabla/abajo_central.gif"></td>
    <td background="../../imagenes/tabla/abajo_der.gif">&nbsp;</td>
  </tr>
    </table>