.area {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:400px;
	height:50px;
	background:#F7F7F7
}

.area2 {
	BORDER-RIGHT: #3c6171 1px solid; 
	BORDER-TOP: #3c6171 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #3c6171 1px solid; 
	BORDER-BOTTOM: #3c6171 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #ffffff; text-shadow:inherit;
	width:200px;
}
a:link {text-decoration: none; color: #333333; border:none}
a:hover {font-weight: normal; text-decoration: underline; color: #333333; border:none; border-bottom:none }
.celda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;}
body {
	margin-left: 0px;
	margin-top: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background:url(../imagenes/Fondo.png);
	background-attachment:fixed;
	background-repeat:repeat-x;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ul {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: disc;
	list-style-position: outside;
}

li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ol {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: upper-roman;
	list-style-position: outside;
}
.text{
background:#FFFFCC;
font-size:12px;
font-weight:bold;
size:20;
}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.boxfecha {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:80px;
	background:#F7F7F7
}
.box1 {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:180px;
	background:#F7F7F7
}
.boxlargo {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:400px;
	background:#F7F7F7
}
.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}
.boton1 {
	padding: 1px;
	font-size:9px
	border-width: thin;
	border-style:hidden;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
	cursor:hand
}
.negrita{
	font-weight:bold;
}
.Rojo {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	}
.texto1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;}
.texto2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;}

.contra {
font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; 
COLOR: #b79f9f;
font-weight:bold;
font-size: 14px
}
.contra2 {
font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
COLOR: #000000;
font-size: 11px
}
.titulos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; background-image: url(../images/fondo-tit.gif); background-repeat: repeat-x; height: 20px}
.tit-tramite { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333 ; font-weight: bold ; background-color: #E7F3E7}
.celdablanca { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; list-style-image: url("../images/vineta1.gif") ; border-color: black #CCCCCC #CCCCCC black; background-color: #FFFFFF; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.box {font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
background-color: #F1F1E2;

}
.textopeq {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333}
.boton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color:#003399;
	border-top: 2px solid #B8DCB8;
	border-right: 2px solid #639A63;
	border-bottom: 2px solid #639A63;
	border-left: 2px solid #BDDFBD;
}
.Estilo1 {font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
text-align:justify;
text-decoration:inherit;
}
.Estilo2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #333333 ; font-weight: bold ; background-color: #E7F3E7}
.cajas{
background:#EBEBEB;
font-size:10px;
font-weight:bold;
border-bottom-color:#EBEBEB;
border:hidden;
text-align:left;
text-decoration:inherit;
height:10px;
}
.tablero {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8px
}
.tablero TD {
	BACKGROUND-COLOR: #f2f2f2; 
	BORDER-BOTTOM: #9faec4 1px solid; 
	BORDER-LEFT: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 9px
}
.tablero TH {
	BACKGROUND-COLOR: #dfe3ea; COLOR: #566c7c; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}
.tableropar {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 9px
}
.boxfecha {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:80px;
	background:#F7F7F7
}
.box_0_num {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:140px;
	background:#F9F9F9;
	text-align:right;
	cursor:text
}
.box_0 {
	padding: 0px;
	font-size:13px;
	border-width: 0px;
	border-style:hidden;
	width:140px;
	background:#F9F9F9
}
.box1 {
	padding: 0px;
	font-size:11px;
	border-width: 0px;
	border-style:hidden;
	width:140px;
	background:#F7F7F7
}

.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}
.boton1 {
	padding: 1px;
	font-size:9px
	border-width: thin;
	border-style:hidden;
	border-color:#EEEEEE;
	cursor:hand
}
.tablero2 {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8px
}
.tablero2 TD {
	BACKGROUND-COLOR: #f2f2f2; 
	BORDER-BOTTOM: #9faec4 1px solid; 
	BORDER-LEFT: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 14px;
	font-weight:bold
}